@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Nanum+Pen+Script&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.nanum {
    font-family: "Nanum Pen Script", cursive;
}

.dm {
    font-family: "DM Sans", sans-serif;
}

.space {
    font-family: "Space Mono", monospace;
}

.purplegradbg {
    background: linear-gradient(270deg, #F703F7 0%, #a981fe 100%);
}

.purplegradtext {
    background: linear-gradient(270deg, #F703F7 0%, #a981fe 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.purplegradborder {
    border: 2px solid;
    border-image-slice: 1;
    border-width: 2px;
    border-image-source: linear-gradient(270deg, #F703F7 0%, #a981fe 100%);
}

.greengradtext {
    background: linear-gradient(270deg, #ffe597 0%, #aaff82 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.limegradtext {
    background: linear-gradient(270deg, #ffe597 0%, #aaff82 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.skygradtext {
    background: linear-gradient(270deg, #82b4ff 0%, #BFF0FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.limeglow {
    animation: limeglow 1s infinite alternate;
}

.purpleglow {
    animation: purpleglow 1s infinite alternate;
}

.skyglow {
    animation: limeglow 1s infinite alternate;
}
.htmlshadow{
    filter: drop-shadow(0px 0px 10px rgba(228, 77, 38, 0.75)) drop-shadow(0px 1px 6px rgba(241, 101, 41, 0.53));
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

@keyframes limeglow {
    from {
        text-shadow: 0 0 20px #aaff82;
    }

    to {
        text-shadow: 0 0 30px #ffe597;
    }
}

@keyframes purpleglow {
    from {
        text-shadow: 0 0 20px #a981fe;
    }

    to {
        text-shadow: 0 0 30px #F703F7;
    }

}
@keyframes skyglow {
    from {
        text-shadow: 0 0 20px #BFF0FF;
    }

    to {
        text-shadow: 0 0 30px #82b4ff;
    }
}
