@import url('https://fonts.googleapis.com/css2?family=Junge&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Vast+Shadow&display=swap');
.bg{
    background-image: url("https://opengameart.org/sites/default/files/wallpreview.gif");
    background-size: cover;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    min-height: 100vh;
    height: 100%;
    width: 100%;
    display: flex;
}
.head{
    font-family: 'Vast Shadow', serif;
}
.sub{
    font-family: 'Junge', cursive;
    font-weight: 700;
}
.text{
    font-family: 'Poppins', sans-serif;
}