@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=EB+Garamond:wght@400;500;600;700;800&family=Graduate&display=swap');
.bg{
    background-image: url("https://i.pinimg.com/originals/93/c6/aa/93c6aaa4424c468db1c9f7904eb400d8.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    width: 100%;
    position: relative;
}
.overlay{
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.grad{
    font-family: 'Graduate', cursive;      
}
.eb{
    font-family: 'EB Garamond', serif;
}
.black{
    font-family: 'Black Ops One', cursive;
}
