@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&display=swap');
.font{
    font-family: 'Courier Prime', monospace;
} 
  
  .inputContainer {
    display: flex;
    align-items: center;
  }
  
  .prompt {
    font-size: 18px;
    margin-right: 5px;
  }
  
  .inputField {
    flex: 1;
    background-color: transparent;
    border: none;
    color: #ffffff;
    font-size: 16px;
    outline: none;
  }
  
  .commandHistory p {
    margin: 0;
    color: #cccccc;
  }
  