@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Nanum+Pen+Script&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.nanum {
    font-family: "Nanum Pen Script", cursive;
}

.dm {
    font-family: "DM Sans", sans-serif;
}
.purplegradbg{
    background: linear-gradient(270deg, #F703F7 0%, #a981fe 100%);
}
.purplegradtext{
    background: linear-gradient(270deg, #F703F7 0%, #a981fe 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.purplegradborder{
    border: 2px solid;
    border-image-slice: 1;
    border-width: 2px;
    border-image-source: linear-gradient(270deg, #F703F7 0%, #a981fe 100%);
}
.greengradtext{
    background: linear-gradient(270deg, #ffe597 0%, #aaff82 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.space {
    font-family: "Space Mono", monospace;
}
@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
.animatespin {
    animation: spin 1s linear infinite;
}
.animateantispin {
    transform-origin: center;
    animation: spin 1s linear infinite reverse;
}